<div class="container">
    <div class="row">
        <h1>게시글 목록</h1>
    </div>
</div>
<!--<% @posts.each do |post| %>
<%= post.id %>번째 글 : <%= post.title %>
<%= post.user.email %>
<%= post.user.created_at %>
<br>
<% end %>-->


<div class="container">
    <div class="text-right"><a href="/post/new"><button type="button" class="btn btn-primary">게시글 쓰기</button></a></div>
        <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">제목</th>
              <th scope="col">글쓴이</th>
              <th scope="col">작성일</th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
            <tr>
              <th scope="row"><%= post.id %></th>
              <td><a href="/post/show/<%= post.id %>"><%= post.title %></a></td>
              <td><%= post.user.email if post.user %></td>
              <!--<td><%= ((Time.now-post.created_at)/60).round(0).to_s %> 분 전</td>-->
              <td><%= time_ago_in_words(post.created_at) %> ago</td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
</div>